body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header, footer {
    background-color: #222;
    color: white;
    padding: 1em;
  }
  
  main {
    padding: 2em;
  }
  
  canvas {
    border: 2px solid black;
    background-color: #d0e7f9;
  }
  